extends ../layout

block content

 //- Breadcrumbs
 .col.s12(style="margin-top: 0px; background: #577889; line-height: 1; padding-left: 10px;")
    a.breadcrumb(href='/users') User Management
    a.breadcrumb(href='/users') Users
    a.breadcrumb(href="/users/details/" + userToUpdate._id) User Details
    a.breadcrumb(href='#') Update
 div.valign-wrapper
    div.row
      div.div.col.s12.m12.l10.xl8.offset-l1.offset-xl2
        form.col.s12(action="" method='POST')
          div.row
            div.input-field.col.s12
              h5.header Update User Information
              span You can change user's name or their role but can't edit email address.
            if !!errorMessage
              div.input-field.col.s12
                span.error #{errorMessage}
            if !!successMessage
              div.input-field.col.s12
                span.success #{successMessage}

            div.input-field.col.s6
              input#name.validate(type="text", name="name" value= userToUpdate.name required = "true") 
              label(for="name") Name

            div.input-field.col.s6
              input#email.validate(type="email", name="email" value= userToUpdate.email required = "true") 
              label(for="email") Email

            div.input-field.col.s6
              input#designation.validate(type="text", name="designation" value= userToUpdate.designation  required = "true") 
              label(for="designation") Designation

            div.input-field.col.s6
              input#department.validate(type="text", name="department" value= userToUpdate.department  required = "true") 
              label(for="department") Department

            div.input-field.col.s12
              input#unit.validate(type="text", name="unit" value= userToUpdate.unit  required = "true") 
              label(for="unit") Unit

            div.input-field.col.s12
              - var roles = ["Admin", "Moderator", "User"]
              select(name="role" value=userToUpdate.role required)
                option(value="", disabled="", selected="") Choose User Role
                each role in roles
                  if userToUpdate.role == role
                    option(value=role selected="") #{role}
                  else
                    option(value=role) #{role}

            div.row
              div.input-field.col.s12
                  button.btn.waves-effect.waves-light(style="margin-left:10px"  value='Update' type="submit") Update
                      i.material-icons.right update
                  a.btn.waves-effect.waves-light.urbaned.black(style="margin-left:5px" href="/users/details/" + userToUpdate._id) Return
                    i.material-icons.right keyboard_return






