extends ../layout

block content
    //- Breadcrumbs
    .col.s12(style="margin-top: 0px; background: #577889; line-height: 1; padding-left: 10px;")
        a.breadcrumb(href='/vehicle-management') Vehicle Management
        a.breadcrumb(href='/vehicle-management') Vehicles
        a.breadcrumb(href='#') Vehicle Details

    div.row
      div.div.col.s12.m12.l10.xl8.offset-l1.offset-xl2
              -if(user)
                form.col.s12(action="", method="POST")
                    div.row
                        div.input-field.col.s12
                            h5.header Vehicle Details
                            span You can edit and delete vehicle information here.
                        div.col.s12.m12.l12.xl12
                            table.table.table-striped
                              tr
                                th 
                                th 
                                tr
                                  th Reg No
                                  td= vehicle.regNo
                                  th Brand
                                  td= vehicle.brand
                                tr
                                  th Model
                                  td= vehicle.vehicleModel
                                  th Model Year
                                  td= vehicle.modelYear
                                tr
                                  th Reg Year
                                  td= vehicle.regYear
                                tr
                                  th Tracker Id
                                  td= vehicle.trackerId
                                  th Card Id
                                  td= vehicle.cardId
                                tr
                                  th Created at
                                  td= fmt.date.pretty(vehicle.createdAt)
                                  th Status
                                  -if(vehicle.isActive == true )
                                    td Active
                                  -else
                                    td Deactivate
                            
                    div.row
                        div.col.s12
                            a.btn.waves-effect.waves-light(style="margin-right:5px" href='/vehicle-management/update/'+vehicle._id) Edit
                               i.material-icons.right edit
                            a.btn.waves-effect.waves-light(style="margin-right:5px" href='/vehicle-management/delete/'+vehicle._id) Delete
                               i.material-icons.right delete
                            a.btn.waves-effect.waves-light.urbaned.black(href="/vehicle-management") Return
                              i.material-icons.right keyboard_return
                              
              -else
                h4 Vehicle not found, it might be deleted already.
                a.btn.waves-effect.waves-light.urbaned.black(onclick="history.back()") Return
                              i.material-icons.right keyboard_return
                              